@charset "utf-8";

/* 가장 큰 박스 */
#wrap {
    width: 100%;
    height: auto;
}


/* 주요 컨텐츠 사이즈 */
.container {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    padding: 0 15px 0 15px;
    border: 1px solid orange;
    background-color: #333;
}


/* 배경 + 글자 */
#slider {
    max-width: 100%;
    height: 800px;
    background-image: url('../indeximg/bi1.png'), url('../indeximg/bi.jpg');
    background-size: 30% 100%, 70% 100%;
    background-position: 0% 100%, 150% 100%;
    background-color: black;
    background-repeat: no-repeat;
    
}

#slider .text h1,p {
    text-shadow: 3px 3px 3px #666;
}

#slider .text > p:nth-of-type(1) {
    text-align: center;
    color: red;
    padding: 180px 0 0 0;
    position: relative;
}

#slider .text p:nth-of-type(1)::before {
    position: absolute;
    content: "";
    width: 45px;
    height: 1px;
    background: #f04e3c;
    left: 825px;
    top: 90.5%;
    transform: translateY(-50%);
}

#slider .text h1 {
    font-size: 4.5rem;
    text-align: center;
    color: #eee;
    letter-spacing: 10px;
    margin-bottom: 20px;
}

#slider .text p {
    font-size: 1.5rem;
    text-align: center;
    color: #eee;
    height: 30px;
}

#slider .text p a {
    border-radius: 20px;
    background-color: #aaa;
    opacity: 0.8;
    color: white;
    padding: 10px 20px;
}

#slider .text p a:hover{
    background-color: black;
    opacity: 0.7;
    color: red;
}

#slider .img {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
}

#slider img {
    z-index: 1;
    height: 500px;
}


/* 섹션 부분 */
#section {
    background-image: url('../indeximg/bgi.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.95);
    background-position: right bottom;
}

#contents {
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 9%;
    position: relative;
}

#contents .contents .con1::after {
    position: absolute;
    content: "";
    width: 60px;
    height: 1px;
    background: #d3d3d4;
    top: 128px;
    right: 210px;
}

#contents .contents h2 {
    font-size: 3.5em;
    color: white;
}

#contents .contents a{
    color: red;
    font-size: 1.3rem;
}

#contents .contents a:hover {
    text-decoration: underline;
}

#contents .contents .years {
    display: flex;
    justify-content: flex-start;
    box-sizing: border-box;
}

#contents .contents .years .year span {
    color: white;
    font-size: 3.5rem;
    padding-right: 25px;
    font-weight: bold;
}

#contents .contents .years .year1 p {
    margin-top: 9px;
}

#contents .contents p {
    color: white;
    font-size: 1rem;
}


/* 컨셉 사진 */
#conceptimg {
    width: 100%;
    height: 3500px;
    background-color: black;
    background-image: url('../indeximg/bgi1.png');
    background-repeat: no-repeat;
    background-position: left center;
}


/* conceptimg 제목 */

#conceptimg .container h1 {
    text-align: center;
    font-size: 3.5em;
    color: white;
    margin: 60px 0 60px 0;
}

/* 웨딩 사진 */
.wdphotography {
    width: 100%;
    height: 750px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    perspective: 500px;
}

.wdphotography img {
    position: absolute;
}

.wdphotography img:nth-of-type(1) {
    top: 0;
    left: 0;
    z-index: 1;
}

.wdphotography img:nth-of-type(2) {
    top: 50px;
    left: 50px;
    z-index: 2;
}

.wdphotography img:nth-of-type(3) {
    top: 100px;
    left: 100px;
    z-index: 3;
}

.wdphotography img:nth-of-type(4) {
    top: 150px;
    left: 150px;
    z-index: 4;
}

.wdphotography img:nth-of-type(4):hover {
    transition: all 2s ease;
    transform: translate(-50%, -50%) rotateY('180deg');
    transform-style: preserve-3d;
}

.wdphotography .information p {
    position: absolute;
    right: 25%;
}


/* 네이처 사진 */
.ntphotography {
    width: 100%;
    height: 750px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.ntphotography img {
    position: absolute;
}

.ntphotography img:nth-of-type(1) {
    top: 0;
    right: 0;
    z-index: 1;
}

.ntphotography img:nth-of-type(2) {
    top: 50px;
    right: 50px;
    z-index: 2;
}

.ntphotography img:nth-of-type(3) {
    top: 100px;
    right: 100px;
    z-index: 3;
}

.ntphotography img:nth-of-type(4) {
    top: 150px;
    right: 150px;
    z-index: 4;
}

#conceptimg .container .na {
    margin: 200px 0 60px 0;
}

.ntphotography .information p {
    position: absolute;
    left: 25%;
}


/* 창의적인 사진 */
.crphotography {
    width: 100%;
    height: 750px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.crphotography img {
    position: absolute;
}

.crphotography img:nth-of-type(1) {
    top: 0;
    left: 0;
    z-index: 1;
}

.crphotography img:nth-of-type(4):hover {
    transition: all 2s ease;
    transform: rotateY('-180deg');
}

.crphotography img:nth-of-type(2) {
    top: 50px;
    left: 50px;
    z-index: 2;
}

.crphotography img:nth-of-type(3) {
    top: 100px;
    left: 100px;
    z-index: 3;
}

.crphotography img:nth-of-type(4) {
    top: 150px;
    left: 150px;
    z-index: 4;
}

#conceptimg .container .cr {
    margin: 200px 0 60px 0;
}

.crphotography .information p {
    position: absolute;
    right: 25%;
}


/* 라이트페인팅 */

#LightPainting {
    width: 100%;
    height: 4050px;
    background-image: url('../indeximg/bgi2.png');
    background-repeat: no-repeat;
    background-position: right center;
    background-color: rgba(0, 0, 0, 0.95);  
}

#LightPainting .container h1 {
    text-align: center;
    font-size: 3.5em;
    color: white;
    margin-bottom: 30px;
}

#LightPainting .container .light .lt {
    position: relative;
    text-align: center;
}

#LightPainting .container .light .lt img {
    height: 750px;
    position: sticky;
    top: 0px;
    
}

#LightPainting .information p {
    text-align: center;
}



